<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> CodeZauker v<%= CodeZauker::VERSION %> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>



    <div class="container">
      <div class="row">
	<div class="span12"><p/></div>
	<div class="span12"><p/></div>
	<h1></h1>
	<div class="thumbnail span12">
	  <!--  width:489; height:110; -->
	  <img src="/CodeZauker.gif" alt="CodeZauker">
	  <h5><%= CodeZauker::VERSION %></h5>	  
	</div>
	<form method="get" action="/search" class="">
	  <p class="span4 offset4">
	    <input type="text" name="q" class="search-query "  />	  
	  </p>
	  <!-- span class="help-inline">Input must be at least 3-letter long</span-->
	  <p class="span4 offset5">
	    <input class="btn btn-primary btn-large" value="Search" name="btnK" type="submit" /> 
	    <br />
	  </p>
	</form>
      </div>



    </div>
    <!-- Le javascript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
  </body>

</html>

