<html>
<head>
<title> CodeZauker v<%= CodeZauker::VERSION %> </title>
</head>
<body>
  <div align="center">
    <div align="left" style="background:url(/CodeZauker.gif) no-repeat; width:489; height:110;" title="CodeZauker">
      &nbsp;
    </div>  
    <form method="get" action="/search">
      <input type="text" name="q" />

<style>

</style>
<div class="jsb" style="padding-top:2px"> <center>  <input value="Search" name="btnK" type="submit" ></center> </div>      
    </form>
  </div>
</body>

</html>

